.flexbox-container{
    height: 700px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*center,space-around,space-between*/
    align-items: center;
    /*flex-start,flex-end,baseline,stretch,center*/
    /*
    align-content is used for multiline flexbox-container
    */
    align-content: space-around;
    /*flex-start,flex-end,center,space-around,
      space-between,stretch*/
    /*
        align-content is similary to justify-content
    */
}

.flexbox-item{
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.flexbox-item-1{
    min-height: 100px;
}

.flexbox-item-2{
    min-height: 200px;
}

.flexbox-item-3{
    min-height: 300px;
}

